.closer {
    position: relative;
    width: 24px;
    height: 24px;
}

.closer::before {
    content: "";
    position: absolute;
    top: 3px;
    right: 10.8px;
    width: 2px;
    height: 18px;
    background-color: #000;
    transform: rotate(45deg);
}

.closer::after {
    content: "";
    position: absolute;
    top: 3px;
    right: 10.8px;
    width: 2px;
    height: 18px;
    background-color: #000;
    transform: rotate(-45deg);
}